.Event {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: thin solid black;
}

.Event-body {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}