.Event {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Event-body {
    width: 60%;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#Event-cronograma {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 0px;
}

#Event-banner {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}