.About {
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About-title {
    width: 100%;
    text-align: center;
}

.About-description {
    width: 100%;
    padding: 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.About-description > * {
    margin: 10px;
}

.About-logo {
    width: 200px;
}

.About-text {
    width: 100%;
    max-width: 600px;
}