.About {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: thin solid black;
}

.About-title {
    text-align: center;
}

.About-description {
    width: 100%;
    max-width: 600px;
}