.About {
    width: 100%;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About-title {
    width: 100%;
    text-align: center;
}

.About-description {
    max-width: 600px;
    padding: 3px;
}