.Header {
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border: thin solid black;
}

.Header-logo {
    height: 100%;
    width: 20%;

    border: thin solid black;
}

.Header-options {
    height: 100%;
    width: 50%;

    border: thin solid black;
}