.Title-heading {
    font-size: 50px;
    padding-bottom: 4px;
    padding-left: 40px;
    padding-right: 40px;

    border-bottom: thin solid grey;
    text-align: center;

    font-family: Peleja;
}