.Card {
    height: 400px;
    width: 280px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: thin solid black;
}

.Card-image {
    height: 45%;
    width: 100%;

    background-position: center;
    background-size: cover;

    border: thin solid black;
}

.Card-title {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: thin solid black;
}

.Card-description {
    height: 45%;
    width: 100%;

    padding: 4px;

    display: flex;
    align-items: center;

    border: thin solid black;
}

.Card-button {
    height: 15%;
    width: 100%;
}

.Card-title > *, .Card-description > * {
    margin: 0;
}