.Card-mobile, .Card-desktop {
    height: 150px;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.Card-mobile {
    border-bottom: thin solid grey;
}

.Card-desktop {
    border-left: thin solid grey;
}

.Card-desktop:hover {
    /* cursor: not-allowed; */
    border: 1px solid grey !important; 
}

.Card-image {
    height: 45%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Card-title {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Peleja;
    text-align: center;
}

.Card-description {
    width: 100%;

    padding: 4px;
    padding-top: 10px;

    display: flex;
}

.Card-button {
    height: 15%;
    width: 100%;
}

.Card-title > *, .Card-description > * {
    margin: 0;
}

#Event-1 {
    border-left: none;
}

#Event-5 {
    border-bottom: none;
}
