.Home {
    width: 100%;
}

.Body {
    margin-top: 50px;
    font-family: Roboto;
    font-weight: normal;
}

.Body-border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.Body-content {
    width: 80%;
    display: flex;
    flex-direction: column;

}


/*
Colors:
Beige: #FFEC78 | rgb(255, 236, 120)
Red: #FE8585 | rgb(254, 133, 133)
*/
.Border {
    width: 10px;
    max-width: 90px;
    background-image: linear-gradient(to bottom, rgba(255, 236, 120, 0.5), white, rgba(254, 133, 133, 1));
}