#navbar {
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.9);
    border: 0;
}

#brand {
    font-family: Peleja;
    color: white;
}

#links {
    color: white;
    font-family: Roboto;
}

#links:hover {
    font-weight: bold;
}

.navbar-toggle {
    border: 0 !important;
}