.Commissions {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Commisions-body {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Comissions-title {
    font-family: Peleja;
    font-size: 2vh;
}

.panel-group {
    width: 100% !important;

    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}

.panel, .panel-default, .panel-collapse, .collapse in {
    width: 100%;
    max-width: 600px;
}

.panel-heading {
    padding: 0px !important;
}

.panel-title > a:hover, .panel-title > a:visited, .panel-title > a:link, .panel-title > a:active {
    text-decoration: none;
}