.Contact-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contact-img {
    width: 100px;
    height: 100px;
    
    margin: 10px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    border-radius: 100%;
}

.Contact-img:hover {
    cursor: pointer;
}
