.Countdown {
    width: 100%;
    min-height: 70vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    border: thin solid black;
}

.Countdown-timer {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    border: thin solid black;
}

.Countdown-title {
    font-family: Peleja;
    font-size: 35px;
    text-align: center;
}

.Countdown-header {
    width: 50%;
    max-width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    border: thin solid black;
}

.Countdown-body {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: thin solid black;
}

.Countdown-body > * {
    margin: 10px;
}

.Countdown-time {
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: thin solid black;
}

.Countdown-time-number {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Peleja;

    border: thin solid black;
}

.Countdown-time-number > h3 {
    font-size: 35px;
}

.Countdown-signup {
    width: 200px;
    height: 50px;
}