.Countdown {
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: thin solid black;
}

.Countdown-timer {
    width: 100%;
    height: 80%;
    max-width: 800px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: thin solid black;
}

.Countdown-time {
    height: 50%;
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: thin solid black;
}

.Countdown-time-number {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: thin solid black;
}

.Countdown-signup {
    width: 200px;
    height: 50px;
}