body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@font-face {
    font-family: "Peleja";
    src: url("assets/fonts/peleja-regular-1.0.otf");
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-thin";
    src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
    font-weight: thin;
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Folk";
    font-weight: bold;
    src: url("assets/fonts/Folk\ Festival.ttf");
}

@font-face {
    font-family: "Love";
    font-weight: bold;
    src: url("assets/fonts/being_love/Being\ Love\ Font\ by\ 7NTypes.otf");
}

@font-face {
    font-family: "AntiFolk";
    font-weight: bold;
    src: url("assets/fonts/anti_folk/anti\ folk.ttf");
}